.body{
  color: rgba(242,244,246,.9) !important;
  background-color: #0f171e !important;
}
.navbar{
  
  background-color: #0f171e !important;
  font-size: 20px !important;
}
.carousel-item{
  background-color: #0f171e !important;
}
#myCarousel{ 
  color: rgba(242,244,246,.9) !important;
  width: 100% !important;
  height: 300px !important; 
  background-color:cadetblue;
}
.container-carousel{
  color: rgba(242,244,246,.9) !important;
  height: 160px !important;  
}
.cardperso{
  margin: 5%;
  color: rgba(242,244,246,.9) !important;
  width: 300px !important;
  height: 230px !important;
  background-color: #0f171e !important;
}

.btn{
  color: rgba(242,244,246,.9) !important;
  border: solid 1px  rgba(242,244,246,.9) !important;
}